*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffecd2, #fcb69f);

    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-carrinho{
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    color: #5b2c2c;
    margin-bottom: 20px;
}

.produto{
    padding: 15px;
    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 12px;

    background-color: #fafafa;
}

.total{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e76f51;
    margin-top: 20px;
}

.botao{
    display: block;
    width: 100%;

    margin-top: 20px;
    padding: 14px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(135deg,#ff7e5f,#e76f51);

    color: white;
    text-decoration: none;
    text-align: center;

    font-weight: bold;
}

.botao:hover{
    opacity: 0.9;
}